/* Reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
body{
    background: #fff;
}
.h-80{
    height: 80px;
}
/* BG custom */
.bg-Bridesmaid{
	background: #feeae9;
}
.bg-Rose{
	background: #ff136f;
}
/* Color custom */
.text-DoveGray{
    color: #707070;
}
.text-Tundora{
	color: #4e4e4e;
}
.text-Rose{
	color: #ff136f;
}
/* margin & padding */
.mt-63{
	margin-top: 63px;
}
.p-68-46{
	padding: 68px 46px;
}
.p-12-30{
	padding: 12px 30px;
}
/* Menu part */
.search_custom{
    position: relative;
}
.input_custom {
	width: 509px;
	height: 48px;
	border-radius: 66px;
	background: #f1f1f1;
	color: #ccc;
	border: 1px solid #f1f1f1;
	padding: 12px;
}
.search_custom span {
	position: absolute;
	top: 12px;
	right: 25px;
	font-size: 18px;
	color: #bababa;
}
/* Slider Part */
.slide_title {
	font-size: 56px;
	font-weight: 700;
}
.price-code{
	font-size: 41px;
}
.slide-img img{
	width: 402px;
	height: 378px;
}
.btn-outline-primary {
	border: none;
}
.carousel-indicators [data-bs-target] {
	background-color: #ff136f;
}
.carousel-control-next, .carousel-control-prev {
	top: 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
	color: #ff136f;
	background: #e46596;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	font-size: 15px;
	line-height: 34px;
}
.carousel-control-prev {
	left: -110px;
}
.carousel-control-next {
	right: -110px;
}
.categories_item{
	background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.categories_item img{
	width: 86px;
	height: 97px;
}